
# Folders normally not needed in Docker context
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/

# IDE / tooling artifacts
**/.classpath
**/.project
**/.settings
**/*.dbmdl
**/*.jfm

# Dev-only config
**/.env
**/azds.yaml
**/charts/
**/docker-compose*
**/secrets.dev.yaml
**/values.dev.yaml

# Git
**/.git/
**/.gitignore

# Logs
**/npm-debug.log

# Optional: keep LICENSE and README
# (Do NOT exclude them unless you have a reason)
# LICENSE
# README.md

# DO NOT exclude Dockerfile(s)
# **/Dockerfile*
